<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Sistema de Uploads</title>
</head>

<body>

  <h1>Form de Upload</h1>

  <form method="post" enctype="multipart/form-data" action="/uploads">
    <input type="file" name="file">
    <input type="submit" value="Upload">
  </form>

</body>

</html>