<h2>Lista de Categorias</h2>
<hr>
<a href="/admin/categorias/add"><button class="btn btn-success">Nova categoria</button></a>

{{#each categorias}}
    <div class="card mt-4 mb-4 mx-auto bg-dark text-light">
        <div class="card-body">
            <div class="card-text mb-2">
                <h4>{{nome}}</h4>
                <small>{{slug}}</small><br>
                <p class="text-muted"><small>Data de criação:{{#formatDate date}}{{/formatDate}}</small></p>
            </div>
            <div class="float-right">
                <a href="/admin/categorias/edit/{{_id}}"><button class="btn btn-success">Editar categoria</button></a>
            </div>
        </div>
    </div>
{{else}}
    <h4 class="mt-4 text-center">Nenhuma categoria registrada.</h4>
{{/each}}