<div class="card mx-auto mt-4 mb-4" style="width: 500px;">
    <div class="card-header text-center">Bem-vindo - {{user.nome}}</div>
    <div class="card-body">
        <p class="card-text">
            Existem: X categorias.<br>
            Existem: X postagens.<br>
        </p>
    </div>
    <div class="card-footer">Footer</div>
</div>